@charset "utf-8";
/* CSS Document */
body { line-height:1.5;-webkit-font-smoothing:antialiased; overflow-x:hidden; position:relative;}
.font0 { font-size:0;}
.font22 { font-size:22px;}
.text_l { text-align:left;}
.text_r { text-align:right;}
.vertical_mid { vertical-align:middle;}
.d_ib { display:inline-block;}
.float_l { float:left;}
.float_r { float:right;}
.wh100 { width:100%; height:100%;}
.mt10 { margin-top:10px;}
.mt20 { margin-top:20px;}
.mt25 { margin-top:25px;}
.mt30 { margin-top:30px;}
.mt50 { margin-top:50px;}
.mt60 { margin-top:60px;}

.guideBannerWrap { width:100%; height:497px; position:relative;}
.guideBanner { position:absolute; top:0; left:50%; width:1920px; height:100%; background:url(../img/guideBanner.jpg) center 0 no-repeat; margin-left:-960px; overflow:hidden;}
.guideBannerText { position:absolute; top:98px; left:50%; width:351px; height:202px; margin-left:-453px;}
.guideBannerText01 { height:64px; background:url(../img/guideBannerText.png) 0 0 no-repeat; opacity:0; opacity:1\9;}
.guideBannerText02 { height:64px; background:url(../img/guideBannerText.png) 0 -84px no-repeat; margin-top:20px; opacity:0; opacity:1\9;}
.guideBannerText03 { height:32px; background:url(../img/guideBannerText.png) 0 -170px no-repeat; margin-top:22px; opacity:0; opacity:1\9;}
.guideBannerAni .guideBannerText01 { -moz-animation:guideBannerText 0.7s ease-out 0s both; -webkit-animation:guideBannerText 0.7s ease-out 0s both; animation:guideBannerText 0.7s ease-out 0s both;}
.guideBannerAni .guideBannerText02 { -moz-animation:guideBannerText 0.7s ease-out 0.13s both; -webkit-animation:guideBannerText 0.7s ease-out 0.13s both; animation:guideBannerText 0.7s ease-out 0.13s both;}
.guideBannerAni .guideBannerText03 { -moz-animation:guideBannerText 0.7s ease-out 0.26s both; -webkit-animation:guideBannerText 0.7s ease-out 0.26s both; animation:guideBannerText 0.7s ease-out 0.26s both;}
@-moz-keyframes guideBannerText{
	0% { -moz-transform:translate(0,100px); opacity:0;}
	100% { -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes guideBannerText{
	0% { -webkit-transform:translate(0,100px); opacity:0;}
	100% { -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes guideBannerText{
	0% { transform:translate(0,100px); opacity:0;}
	100% { transform:translate(0,0); opacity:1;}
}

.guidePhone { position:absolute; bottom:0; left:50%; width:314px; height:382px; background:url(../img/guidePhone.png) no-repeat; margin-left:123px; opacity:0; opacity:1\9;}
.guideBannerAni .guidePhone { -moz-animation:guidePhone 0.6s ease-out 0.5s both; -webkit-animation:guidePhone 0.6s ease-out 0.5s both; animation:guidePhone 0.6s ease-out 0.5s both;}
@-moz-keyframes guidePhone{
	0% { -moz-transform:translate(0,130px); opacity:0;}
	100% { -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes guidePhone{
	0% { -webkit-transform:translate(0,130px); opacity:0;}
	100% { -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes guidePhone{
	0% { transform:translate(0,130px); opacity:0;}
	100% { transform:translate(0,0); opacity:1;}
}

.guideReg { position:absolute; left:21px; bottom:0; width:272px; height:235px; text-align:center; padding:68px 0 0 0; opacity:0; opacity:1\9;}
.guideBannerAni .guideReg { -moz-animation:guideReg 0.6s ease-in 0.7s both; -webkit-animation:guideReg 0.6s ease-in 0.7s both; animation:guideReg 0.6s ease-in 0.7s both;}
@-moz-keyframes guideReg{
	0% { opacity:0;}
	100% { opacity:1;}
}
@-webkit-keyframes guideReg{
	0% { opacity:0;}
	100% { opacity:1;}
}
@keyframes guideReg{
	0% { opacity:0;}
	100% { opacity:1;}
}

.guideRegP { font-size:20px; color:#ffffff;}
.guideRegP b { font-size:28px;}
.guideRegBtn { display:inline-block; width:202px; height:50px; line-height:50px; text-align:center; font-size:20px; color:#ffffff; background-color:#ffaa16; border-radius:3px;}
.guideRegBtn:hover { color:#ffffff; background-color:#ffa200;}
.guideColumn { padding:90px 0;} 
.guideBgWhite { background-color:#ffffff;}
.guideBgGray{ background-color:#f4f4f4;}
.guideMain { width:1000px; margin:0 auto;}

.guideWhatL { float:left; width:450px; margin:30px 0 0 60px;}
.guideTitle { font-size:40px; color:#2e8aec;}
.guideWhatP { font-size:16px; color:#929090; line-height:28px;}
.guideWhatR { float:right; margin:0 60px 0 0;}

.guideWhyL { float:left; width:386px; height:314px; position:relative; margin:25px 0 0 60px;}
.guideWhyL_top { position:absolute; top:0; left:25px; width:340px; height:181px; background:url(../img/guideWhyL_top.png) no-repeat;}
.guideCurveAni .guideWhyL_top { -moz-animation:guideWhyL_top 1.2s ease 0.7s both; -webkit-animation:guideWhyL_top 1.2s ease 0.7s both; animation:guideWhyL_top 1.2s ease 0.7s both;}
@-moz-keyframes guideWhyL_top{
	0% { width:0px;}
	100% { width:340px;}
}
@-webkit-keyframes guideWhyL_top{
	0% { width:0px;}
	100% { width:340px;}
}
@keyframes guideWhyL_top{
	0% { width:0px;}
	100% { width:340px;}
}

.guideWhyL_bottom { position:absolute; bottom:0;}
.guideWhyL_item { display:inline-block; color:#333333; text-align:center;}
.guideWhyL_item02 { margin:0 86px 0 72px;}
.guideWhyL_num { color:#666666; font-size:22px;}
.guideWhyL_block { display:inline-block; width:50px; background-color:#c7c7c7; margin-top:2px;}
.guideWhyL_block01 { height:47px;}
.guideWhyL_block02 { height:54px;}
.guideWhyL_block03 { height:189px; background-color:#ff8948;}
.guideCurve { visibility:hidden;}
.guideCurveAni { visibility:visible;}
.guideCurveAni .guideWhyL_block01 { -moz-animation:guideWhyL_block01 1s ease 0s both; -webkit-animation:guideWhyL_block01 1s ease 0s both; animation:guideWhyL_block01 1s ease 0s both;}
@-moz-keyframes guideWhyL_block01{
	0% { height:0px;}
	100% { height:47px;}
}
@-webkit-keyframes guideWhyL_block01{
	0% { height:0px;}
	100% { height:47px;}
}
@keyframes guideWhyL_block01{
	0% { height:0px;}
	100% { height:47px;}
}

.guideCurveAni .guideWhyL_block02 { -moz-animation:guideWhyL_block02 1s ease 0s both; -webkit-animation:guideWhyL_block02 1s ease 0s both; animation:guideWhyL_block02 1s ease 0s both;}
@-moz-keyframes guideWhyL_block02{
	0% { height:0px;}
	100% { height:54px;}
}
@-webkit-keyframes guideWhyL_block02{
	0% { height:0px;}
	100% { height:54px;}
}
@keyframes guideWhyL_block02{
	0% { height:0px;}
	100% { height:54px;}
}

.guideCurveAni .guideWhyL_block03 { -moz-animation:guideWhyL_block03 1s ease 0s both; -webkit-animation:guideWhyL_block03 1s ease 0s both; animation:guideWhyL_block03 1s ease 0s both;}
@-moz-keyframes guideWhyL_block03{
	0% { height:0px;}
	100% { height:189px;}
}
@-webkit-keyframes guideWhyL_block03{
	0% { height:0px;}
	100% { height:189px;}
}
@keyframes guideWhyL_block03{
	0% { height:0px;}
	100% { height:189px;}
}

.guideWhyL_name { font-size:18px; margin-top:15px;}
.guideWhyL_orange { color:#ff7a44;}
.guideWhyR { float:right; margin:0 60px 0 0;}
.guideWhyR_item { font-size:0; margin:23px 0 0 0;}
.guideWhyR_circle { display:inline-block; width:8px; height:8px; background:url(../img/guideWhyR_circle.png) no-repeat; vertical-align:top; margin-top:10px;}
.guideWhyR_text { display:inline-block; width:350px; font-size:14px; color:#929090; vertical-align:top; margin-left:11px;}
.guideWhyR_title { font-size:18px; color:#333333;}
.guideHowBtn { display:inline-block; height:74px; line-height:74px; font-size:32px; color:#ffffff; background-color:#2e8aec; border-radius:3px; padding:0 35px;}
.guideHowBtn:hover { color:#ffffff; background-color:#007bff;}