@charset "utf-8";
/* CSS Document */
body { line-height:1.5; overflow-x:hidden;}
.font_0 { font-size:0;}
.font_22 { font-size:22px;}
.textLeft { text-align:left;}
.textRight { text-align:right;}
.vertical_mid { vertical-align:middle;}
.float_l { float:left;}
.float_r { float:right;}
.c_666666 { color:#666666;}
.mt3 { margin-top:3px;}
.mt_10 { margin-top:10px;}
.mt_15 { margin-top:15px;}
.mt_20 { margin-top:20px;}
.mt_25 { margin-top:25px;}
.mt_30 { margin-top:30px;}
.mt_35 { margin-top:35px;}
.mt_40 { margin-top:40px;}
.mb_10 { margin-bottom:10px;}
.ml_20 { margin-left:20px;}
.pt20 { padding-top:20px;}
.pt25 { padding-top:25px;}
.pt45 { padding-top:45px;}
.pt55 { padding-top:55px;}
.pt70 { padding-top:70px;}
.pt74 { padding-top:74px;}
.pt80 { padding-top:80px;}
.pl74 { padding-left:74px;}

.d_ib { display:inline-block;}
.w110 { width:110px;}

.taskBtn { display:inline-block; height:45px; line-height:45px; font-size:22px; color:#fdffbf; background-color:#ff2828; padding:0 35px; box-shadow:0 3px #b51c1c; border-radius:5px;}
.taskBtn:hover { color:#fdffbf; background-color:#e41515;}
.taskBtnGray { color:#333333; background-color:#999999; box-shadow:none;}
.taskBtnGray:hover { color:#333333; background-color:#999999; box-shadow:none;}

.task { width:100%; height:863px; background:url(../img/taskBg.png) center 0 no-repeat; position:relative; overflow:hidden;}
.taskBannerM { width:795px; height:365px; margin:0 auto; background:url(../img/bannerM.png) no-repeat; position:relative; z-index:5;}
.taskMain { width:840px; margin:0 auto;}
.taskNav li { float:left;}
.taskNav .taskNavMl { margin-left:-15px;}
.taskNav li a { display:block; width:164px; height:68px; background:url(../img/task.png) 0 0 no-repeat; font-size:16px; color:#a24534; padding:13px 0 0 57px; position:relative;}
.taskNavTitle { font-size:24px;}
.taskNav .taskNavFirst a { background:url(../img/task.png) 0 -86px no-repeat;}
.taskNav .taskNavLast a { background:url(../img/task.png) 0 -172px no-repeat;}

/*鼠标移上去hover状态*/
.taskNav li a:hover { background:url(../img/task.png) 0 -258px no-repeat; color:#333333;}
.taskNav .taskNavFirst a:hover { background:url(../img/task.png) 0 -344px no-repeat; color:#333333;}
.taskNav .taskNavLast a:hover { background:url(../img/task.png) 0 -430px no-repeat; color:#333333;}
/*当前状态*/
.taskNav .taskNavActive a { background:url(../img/task.png) 0 -258px no-repeat; color:#333333;}
.taskNav .taskNavActive_first a { background:url(../img/task.png) 0 -344px no-repeat; color:#333333;}
.taskNav .taskNavActive_last a { background:url(../img/task.png) 0 -430px no-repeat; color:#333333;}
/*已完成状态*/
.taskNav .taskNavFinish a { background:url(../img/task.png) 0 -516px no-repeat; color:#9c8e5e;}
.taskNav .taskNavFinish_first a { background:url(../img/task.png) 0 -602px no-repeat; color:#9c8e5e;}
.taskNav .taskNavFinish_last a { background:url(../img/task.png) 0 -688px no-repeat; color:#9c8e5e;}
.taskNavFinish_icon { position:absolute; top:0; right:25px; width:90px; height:78px; background:url(../img/task.png) -226px 0 no-repeat;}

.taskProjection { width:930px; height:106px; margin:0 auto; background:url(../img/taskProjection.png) no-repeat; padding-left:2px;}
.taskProjection { width:930px; height:106px; margin:0 auto; background:url(../img/taskProjection.png) no-repeat; padding-left:2px;}
.taskContent { height:370px; background-color:#FFFFFF; margin-top:7px; text-align:center; position:relative;}
.taskRegPack { display:inline-block; width:168px; height:109px; background:url(../img/task.png) -226px -83px no-repeat; color:#fff9e6; font-size:31px; text-align:left; padding-left:9px; text-shadow:1px 1px 1px #666666;}
.taskRegPack b { font-family:Arial, Helvetica, sans-serif; font-size:72px; letter-spacing:-2px; margin-right:5px;}
.taskRegText { display:inline-block; text-align:left; margin-left:45px; vertical-align:top;}
.taskRegTitle { font-size:22px; color:#333333; line-height:22px;}
.taskRegP { font-size:16px; color:#666666; line-height:26px; margin-top:23px;}
.taskRegNote { color:#666666; margin-top:13px;}
.taskLDetail { position:absolute; bottom:20px; right:20px; color:#3689d5;}
.taskLDetail:hover { text-decoration:underline;}

.taskRechargeY { color:#d08d14; line-height:normal;}
.taskRechargeY a { color:#d08d14; text-decoration:underline;}
.taskRechargeTitle { font-size:22px; color:#333333; line-height:1.6; margin-top:17px;}
 
.taskInvestItem { display:inline-block; text-align:left; background-color:#ffe8aa; padding:3px; margin:0 20px; border-bottom:9px solid #f68d00; vertical-align:top;}
.taskInvestItem:hover { box-shadow:2px 2px 8px #cccccc;}
.taskInvestItemN { width:299px; height:128px; background-color:#ffd302;}
.taskInvestIcon { display:block; width:213px; height:57px; background:url(../img/task.png) 0 0 no-repeat; position:relative; top:-3px; left:-3px;}
.taskInvestIcon01 { background-position:-226px -197px;}
.taskInvestIcon02 { background-position:-226px -259px;}
.taskInvestL { display:inline-block; font-size:14px; width:214px; padding:0 0 0 20px; margin:0 8px 0 0; color:#333333; vertical-align:middle;}
.taskInvestL p { overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.taskInvestLT { font-size:20px;}
.taskInvestLT b { font-size:22px; font-weight:normal;}
.taskInvestArrow { display:inline-block; width:38px; height:42px; background:url(../img/task.png) -321px 0 no-repeat; vertical-align:middle; margin-top:6px;}
.taskInvestT { color:#666666; font-size:18px; margin:16px 0 5px 0;}
.taskInvestP { color:#666666; font-size:12px;}

.welfareItemN { width:345px; height:147px;}
.welfareIcon { width:317px; height:67px;}
.welfareIcon01 { background-position:-226px -321px;}
.welfareIcon02 { background-position:-226px -393px;}
.welfareIcon03 { background-position:-226px -652px;}
.welfareL { font-size:18px; width:250px;}
.welfareL b { font-size:20px; color:#df3232;}

.newcomersBox_wrap { background:url(../img/dasp01.png); padding:3px; z-index:2000000; color:#6a6a6a; border-radius:5px; position:relative;}
.newcomersBox_close { display:block; position:absolute; top:-12px; right:-12px; width:33px; height:33px; background:url(../img/newcomersBox_close.png) 0 0 no-repeat;}
.newcomersBox_close:hover { background-position:0 -33px;}
.newcomersBox { background-color:#fffded; padding:35px; border-radius:5px;}
.taskBox_text { color:#333333; font-size:16px; line-height:30px;}
.taskBox_text h2 { font-size:22px; text-align:center; margin-bottom:20px;}

.taskCloud01 { position:absolute; top:235px; left:30px; width:208px; height:79px; background:url(../img/task.png) -226px -563px no-repeat; -webkit-animation:taskCloud01 30s linear 0s infinite;}
.taskCloud02 { position:absolute; top:144px; right:30px; width:220px; height:92px; background:url(../img/task.png) -226px -466px no-repeat; -webkit-animation:taskCloud02 35s linear 0s infinite;}
@-webkit-keyframes taskCloud01{
	0%{ left:-11.5%;}	
	100%{ left:111.5%;}	
}

@-webkit-keyframes taskCloud02{
	0%{ right:-12%;}	
	100%{ right:112%;}	
}

.pendant { position:absolute; left:50%; top:535px; z-index:9999; width:212px; height:258px; background:url(../img/pendant.png) no-repeat; margin-left:450px;}
.pendantHand { 
	position:absolute; 
	left:0px; 
	top:35px; 
	width:33px; 
	height:31px; 
	background:url(../img/pendantHand.png) no-repeat; 
	-moz-animation:pendantHand 1.3s linear 0s infinite; 
	-webkit-animation:pendantHand 1.3s linear 0s infinite; 
	animation:pendantHand 1.3s linear 0s infinite; 
	-moz-transform-origin:65% 100%; 
	-webkit-transform-origin:65% 100%;
	transform-origin:65% 100%;
}
@-moz-keyframes pendantHand {
	0%{ -moz-transform:rotate(0deg) skew(0,0);}
	25%{ -moz-transform:rotate(-7deg) skew(0,4deg);}
	50%{ -moz-transform:rotate(0deg) skew(0,0);}
	75%{ -moz-transform:rotate(7deg) skew(0,-4deg);}
	100%{ -moz-transform:rotate(0deg) skew(0,0);}
}
@-webkit-keyframes pendantHand {
	0%{ -webkit-transform:rotate(0deg) skew(0,0);}
	25%{ -webkit-transform:rotate(-7deg) skew(0,4deg);}
	50%{ -webkit-transform:rotate(0deg) skew(0,0);}
	75%{ -webkit-transform:rotate(7deg) skew(0,-4deg);}
	100%{ -webkit-transform:rotate(0deg) skew(0,0);}
}
@keyframes pendantHand {
	0%{ transform:rotate(0deg) skew(0,0);}
	25%{ transform:rotate(-7deg) skew(0,4deg);}
	50%{ transform:rotate(0deg) skew(0,0);}
	75%{ transform:rotate(7deg) skew(0,-4deg);}
	100%{ transform:rotate(0deg) skew(0,0);}
}

.pendantTail { 
	position:absolute; 
	right:22px; 
	top:169px; 
	width:44px; 
	height:32px; 
	background:url(../img/pendantTail.png) no-repeat; 
	-moz-animation:pendantTail 2.6s linear 0s infinite; 
	-webkit-animation:pendantTail 2.6s linear 0s infinite; 
	animation:pendantTail 2.6s linear 0s infinite; 
	-moz-transform-origin:2% 50%;
	-webkit-transform-origin:2% 50%;
	transform-origin:2% 50%;
}
@-moz-keyframes pendantTail {
	0%{ -moz-transform:rotate(0deg) skew(0,0);}
	25%{ -moz-transform:rotate(12deg) skew(-1deg,0);}
	50%{ -moz-transform:rotate(0deg) skew(0,0);}
	75%{ -moz-transform:rotate(-12deg) skew(1deg,0);}
	100%{ -moz-transform:rotate(0deg) skew(0,0);}
}
@-webkit-keyframes pendantTail {
	0%{ -webkit-transform:rotate(0deg) skew(0,0);}
	25%{ -webkit-transform:rotate(12deg) skew(-1deg,0);}
	50%{ -webkit-transform:rotate(0deg) skew(0,0);}
	75%{ -webkit-transform:rotate(-12deg) skew(1deg,0);}
	100%{ -webkit-transform:rotate(0deg) skew(0,0);}
}
@keyframes pendantTail {
	0%{ transform:rotate(0deg) skew(0,0);}
	25%{ transform:rotate(12deg) skew(-1deg,0);}
	50%{ transform:rotate(0deg) skew(0,0);}
	75%{ transform:rotate(-12deg) skew(1deg,0);}
	100%{ transform:rotate(0deg) skew(0,0);}
}

.doTaskBox { width:480px; color:#333333; background-color:#FFFFFF;}
.doTaskBoxTop { height:40px; line-height:40px; color:#FFFFFF; background-color:#eb3e32; font-size:16px; position:relative; padding-left:20px;}
.doTaskBox_close { display:block; position:absolute; right:10px; top:10px; width:20px; height:20px; background:url(../img/task.png) -364px 0 no-repeat;}
.doTaskBox_conent { padding:30px 0 25px 0;}
.doTaskBox_item { width:350px; margin:0 auto; text-align:left;}
.doTaskBox_column { height:42px;}
.doTaskBox_name { float:left; width:70px; margin-right:4px; text-align:right; line-height:40px;}
.doTaskBox_input { float:left; width:264px; height:22px; color:#333333; padding:9px 0 9px 10px; font-size:14px; border:1px solid #dddddd; border-radius:4px;}
.doTaskBox_input02 { width:129px;}
.doTaskBox_inputE { border:1px solid #FF0000;}
.doTaskBox_error { height:25px; line-height:25px; color:#FF0000; padding-left:74px;}
.doTaskBox_code { float:right; width:100px; height:40px; line-height:40px; padding:0 12px; text-align:center; color:#FFFFFF; background-color:#ff6600; border-radius:4px; margin:1px 0 0 0;}
.doTaskBox_code:hover { color:#FFFFFF; background-color:#fa761e;}
.doTaskBox_again { background-color:#cccccc;}
.doTaskBox_again:hover { background-color:#cccccc; cursor:default;}
.doTaskBox_label { font-size:14px; cursor:pointer; vertical-align:middle;}
.doTaskBox_checkbox { margin:-1px 5px 0 0; vertical-align:middle;}
.doTaskBox_link { margin-left:7px; text-decoration:underline; vertical-align:middle;}
.doTaskBox_bottom { background-color:#f1f1f1; padding:14px 0; text-align:center;}
.doTaskBox_loginA { color:#666666;}

.investItem { display:inline-block; font-size:14px; text-align:left; background-color:#ffe8aa; padding:3px; margin:0 13px; border-bottom:9px solid #f68d00; vertical-align:top;}
.investItemN { width:240px; height:278px; background-color:#ffe66d; text-align:center; position:relative;}
.investSoon { position:absolute; right:0; bottom:17px; display:block; width:93px; height:99px; background:url(../img/task.png) -450px 0 no-repeat;}
.investTitle { font-size:29px; font-weight:bold; color:#ba6509; padding:13px 0 10px 0;}
.investP { font-size:18px; color:#333333;}
.investBottom { margin-top:25px;}
.investNote { color:#9d671a;}

















