/* CSS Document */
/*---新公共头部---*/
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.header { width:100%; position:relative; z-index:99; box-shadow:0px 1px 4px #666;}
* html,* html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
*html .header /* IE6 头部固定 */{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+0));}
.headerTop { width:100%; background-color:#ffffff; border-bottom:1px solid #e6e6e6; position:relative; z-index:999;}
.headerTop_main { width:1000px; height:32px; line-height:32px; margin:0 auto; color:#898989; font-size:12px;}
.headerTop_main a { color:#898989;}
.headerTop_main a:hover { color:#3A82C4;}
.headerTop_phone { float:left;}
.headerTop_phone b { font-size:14px; color:#eb6100; margin-left:5px;}
.header_em { display:inline-block; background:url(../img/header.png) no-repeat; margin-right:4px; vertical-align:text-bottom; _margin-top:7px;}
.headerTop_tellicon { width:12px; height:16px; background-position:0 0;}
.headerTop_ul { float:right;}
.headerTop_ul li { float:left; padding:0 10px; margin-left:10px; position:relative;}
.headerTop_ul li a { display:inline-block;}
.headerTop_ul li a:hover { color:#2b6799;}
.headerTop_ul li .headerTop_name { color:#2b6799; font-weight:bold;}
.headerTop_wenxinIcon { width:18px; height:17px; background-position:-18px 0; vertical-align:text-top; margin-top:1px;}
.headerTop_phoneIcon { width:10px; height:15px; background-position:-43px 0; vertical-align:text-top; margin-top:1px;}
.headerTop_bottomIcon { width:9px; height:6px; background-position:-60px -5px; margin:0 0 0 4px;}
.headerTop_nameIcon { width:9px; height:6px; background-position:-73px -5px; margin:0 0 0 4px; vertical-align:middle;}
.headerTop_loginOut {width:13px; height:15px; background-position:-131px -3px;}
.headerTop_regIcon { width:15px; height:15px; background-position:-181px -3px; vertical-align:text-top; margin-top:1px;}
.headerTop_loginIcon { width:14px; height:15px; background-position:-202px -3px; vertical-align:text-top; margin-top:1px;}
.headerTopic { box-shadow:none;}
.headerTopTopic { border-bottom:none;}
.logoTopic { display:inline-block; width:172px; height:32px; background:url(../img/logoTopic.png) no-repeat;}
.marLeft10 { margin-left:15px;}

.formaxTab { position:absolute; left:50%; top:32px; width:100%; min-width:95px; margin-left:-48px; background-color:#FFFFFF; border:1px solid #e2e0e1; border-top:none;}
.formaxTab li { float:none; margin:0; border:none;}
.formaxTab li a { display:block;}
.formaxTab li a:hover { color:#3a82c4;}

.headerTop_posWX { position:absolute; left:-50%; top:43px; background-color:#FFFFFF; padding:10px; border:1px solid #e1dfdf;}
.headerTop_posWX_img { width:109px; height:108px; background:url(../img/header.png) 0 -63px no-repeat;}
.headerTop_posWX_top { position:absolute; left:50%; top:-11px; margin-left:-12px; width:24px; height:11px; background:url(../img/header.png) -148px -5px no-repeat;}

.headerBottom { width:100%; background-color:#FFFFFF;}
.headerBottom_main { width:1000px; height:70px; margin:0 auto;}
.header_logo { float: none; position:absolute; display:block; width:296px; height:48px; background:url(../img/header.png?_=1431315433) -147px -123px no-repeat; margin:11px 0 0 0;}
.headerLogin { float:right; margin:40px 0 0 50px;}
.headerLogin a { display:inline-block;}
.headerLogin a:hover { text-decoration:underline;}
.headerLogin01 { width:14px; height:14px; background-position:-88px -3px; vertical-align:top; margin-top:5px;}
.headerLogin02 { width:14px; height:14px; background-position:-108px -3px; vertical-align:top; margin-top:5px;}
.headerLogin_norm {margin:0 4px; color:#E8ECED}
.headerNav { float:right; margin-top:15px;}
.headerNav li { float:left;}
.headerNav li a { display:block; font-size:16px; color:#595757; padding:10px 20px;}
.headerNav li a:hover { color:#3a82c4; font-weight:bold;}
.headerNav .current a { color:#3a82c4; font-weight:bold;}
.headerNav .shu { width:2px; height:12px; background-color:#eaebeb; font-size:0; margin:16px 0 0 0;}

.headerMenu {width:100%; background-color:#3a82c4;}
.headerMenu_main { width:1000px; height:46px; margin:0 auto;}
.headerMenu_ul { float:none; line-height:46px; margin-top:0;}
.headerMenu_ul li { position:relative;}
.headerMenu_ul li a { display:block; font-size:18px; color:#FFFFFF; padding:0 20px;}
.headerMenu_ul li a:hover { color:#FFFFFF; background-color:#20507a; font-weight:normal;} 
.headerMenu_ul .current a { color:#FFFFFF; background-color:#20507a; font-weight:normal;}
.headerMenu_ul .shu { background-color:#61a7e8; margin-top:18px;}

.headerMenu_child { position:absolute; left:0; top:46px; line-height:40px; background-color:#20507a;}
.headerMenu_child li { width:100%; white-space:nowrap;}
.headerMenu_child li a { display:block;}
.headerMenu_child li a:hover { background-color:#286397;}

.choice{width:83px;height:30px; float:right; position:relative;font-size:13px;display:inline-block;}
.choice .choiceinfo{width:71px;height:15px;line-height:1.231;padding:8px 0 11px 8px;_padding:4px 0 15px 8px;display:block;background:url(../img/arr-b.gif) 60px 13px no-repeat;font-size:13px;position:relative;z-index:20}
.choice a{padding:0;color:#333;}
.choiceON .choiceinfo{color:#333; background:url(../img/arr-b.gif) 60px 14px no-repeat;}
.choice ul{width:202px;top:9px;float:none; background:#FFFFFF; border:1px solid #e6e6e6; transition:none; outline:none; padding:0; left:-61px; position:relative;z-index:10}
.choice ul li{width:101px;height:32px;float:left;vertical-align:middle;}
.choice ul a{line-height:1.231;padding:8px 0 9px 8px;_padding:7px 0 10px 8px;width:auto;height:15px;display:block;border-radius: 0 0 0 0;border:none;font-size:12px;}
.choice ul a:hover{background:#D9F0FF;color:#30A4DB}
.choice ul li.on,.index_head .choice ul a:hover{background:#D9F0FF;}
.choice ul li.on{line-height:32px;border:none;top:0}

/*float-box http://wwealth.jrq.com/cn */
.float-box{ width:140px; position: fixed; left:50%; margin-left:520px; z-index:1001; bottom:180px; border:1px solid #ccc; background:#fff;}
.float-relation{ position:relative;}
.p-small{ text-align:center; margin-top:10px; margin-bottom:0; text-align:center; font-size:12px; height:20px; line-height:20px;}
.p-import{ text-align:center; font-size:18px; color:#f04604; font-weight: bold; margin-bottom:10px; height:20px; line-height:20px;}
.p-import2{ text-align:center; font-size:18px; color:#1fa0ea; font-weight: bold; margin-bottom:10px; height:20px; line-height:20px;}
.p-code{ background:url(http://www.jrq.com/cn/img/sideBox.png) no-repeat; width:113px; height:113px; margin:10px auto;}
.p-code2{ background:url(http://www.jrq.com/cn/img/sideBox.png) no-repeat 0 -118px; width:111px; height:111px; margin:10px auto;}
.float-ul li{ height:40px; border-bottom:1px solid #fff; border-top:1px solid #ddd; line-height:40px; position:relative; background:#fff; }
.float-ul li a{ display:block; font-size:16px; color:#666;}
.float-ul li i,.float-ul2 li i{ display:inline-block; width:40px; height:40px; vertical-align:middle; background:url(http://www.jrq.com/cn/img/sideBox.png) no-repeat; margin-right:5px;}
.float-ul li i.icon-kfzx{ background-position:-114px 0}
.float-ul li i.icon-ljzx{ background-position:-114px -40px}
.float-ul li i.icon-lcqq{ background-position:-154px 0}
.float-ul li i.icon-wxgz{ background-position:-154px -40px}
.float-ul li.on{ width:140px; left:-10px; padding-left:10px; border:1px solid #1fa0ea; border-left:none; z-index:1003; box-shadow:5px 5px 5px #999}
.float-ul-son1{ padding:10px; position:absolute; top:225px; right:149px; width:auto; background:#fff; border:1px solid #1fa0ea; z-index:1002; box-shadow:5px 5px 5px #999}
.float-ul-son2{ width:130px; padding:10px; position:absolute; top:309px; left:-161px; background:#fff; border:1px solid #1fa0ea; z-index:1002; box-shadow:5px 5px 5px #999}
.float-ul2 li{ height:40px; margin:5px 0; line-height:normal; padding:5px 0;word-break: keep-all;white-space:nowrap; min-width:190px;}
.float-ul2 li span{ display:inline-block; vertical-align:middle}
.float-ul2 li span b{ display:block; color:#1fa0ea; font-weight:normal}
.float-ul2 li i.icon-24{ background-position:-154px -80px}
.float-ul2 li i.icon-kfyx{ background-position:-114px -80px}
.float-ul2 li i.icon-qqlx{ background-position:-114px -120px}
.qqlx{ height:24px; line-height:24px; text-align:center; display:inline-block; color:#1fa0ea; vertical-align:middle; border:2px solid #1fa0ea; border-radius:15px; width:100px;}
.code-jl{ text-align:center; line-height:25px;}

/*huodong float*/
.float-box{padding-top:30px;bottom:160px;box-shadow:0 0 6px #E3E3E3;margin-left:550px}
.float-add{width:285px;height:212px;position:absolute;top:-145px;left:50%;margin-left:-133px;}
.float-add i{display:inline-block;font-size:0;line-height:0;background:url(../img/float-01.png) no-repeat; position:absolute;top:0}
.float-add .float-add-01{width:255px;height:193px;background-position:-212px 0;-webkit-animation:guang_01 .6s linear 1.2s both;-moz-animation:guang_01 .6s linear 1.2s both;animation:guang_01 .6s linear 1.2s both}
.float-add .float-add-02{width:255px;height:193px;background-position:-468px 0; -webkit-animation:guang .6s linear 1.2s both;-moz-animation:guang .6s linear 1.2s both;animation:guang .6s linear 1.2s both;}
.float-add .float-add-03{width:212px;height:193px;background-position:0 0;left:50%;margin-left:-106px}
.float-add .float-add-04{width:64px;height:64px;background-position:-762px 0;right:40px;top:38px;-webkit-transform-origin:50% 100%; -webkit-animation:a_jelly_1 0.8s infinite;-moz-transform-origin:50% 100%; -moz-animation:a_jelly_1 0.8s infinite; transform-origin:50% 100%;animation:a_jelly_1 0.8s infinite;}
@-webkit-keyframes guang{
	0%{-webkit-transform:rotate(-45deg); -webkit-opacity:0}
	100%{-webkit-transform:rotate(0deg); -webkit-opacity:1}
}
@-moz-keyframes guang{
	0%{-moz-transform:rotate(-45deg); -moz-opacity:0}
	100%{-moz-transform:rotate(0deg); -moz-opacity:1}
}
@keyframes guang{
	0%{transform:rotate(-45deg); opacity:0}
	100%{transform:rotate(0deg); opacity:1}
}
@-webkit-keyframes guang_01{
	0%{-webkit-opacity:0.7}
	100%{-webkit-opacity:1}
}
@-moz-keyframes guang_01{
	0%{-moz-opacity:0.7}
	100%{-moz-opacity:1}
}
@keyframes guang_01{
	0%{opacity:0.7}
	100%{opacity:1}
}

@-moz-keyframes a_jelly_1{
	0%{-moz-transform:scale(1,1);}
	25%{-moz-transform:scale(1.2,0.9);}
	40%{-moz-transform:scale(0.9,1.2);}
	55%{-moz-transform:scale(1.1,0.95);}
	70%{-moz-transform:scale(0.95,1.1);}
	85%{-moz-transform:scale(1.05,0.98);}
	100%{-moz-transform:scale(1,1);}
}

@-webkit-keyframes a_jelly_1{
	0%{-webkit-transform:scale(1,1);}
	25%{-webkit-transform:scale(1.2,0.9);}
	40%{-webkit-transform:scale(0.9,1.2);}
	55%{-webkit-transform:scale(1.1,0.95);}
	70%{-webkit-transform:scale(0.95,1.1);}
	85%{-webkit-transform:scale(1.05,0.98);}
	100%{-webkit-transform:scale(1,1);}
}
@keyframes a_jelly_1{
	0%{transform:scale(1,1);}
	25%{transform:scale(1.2,0.9);}
	40%{transform:scale(0.9,1.2);}
	55%{transform:scale(1.1,0.95);}
	70%{transform:scale(0.95,1.1);}
	85%{transform:scale(1.05,0.98);}
	100%{transform:scale(1,1);}
}