@charset "utf-8";
/* CSS Document */
*,*:after,*:before { box-sizing:border-box;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,select,option,textarea,p,span,blockquote { padding:0;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
html,body{ height:100%;}
html { font-size:50px;}
body { font:0.24rem/1.5 "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif; color:#fff; -webkit-font-smoothing:antialiased;}
table { border-collapse:collapse; border-spacing:0;}
img { display:block; border:none; vertical-align:top; outline:none;}
a { display:block; text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0); color:#fff;}
ul { list-style:none;}
input,select,label { vertical-align:middle; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.clearfix:after{ content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1}

/*common*/
@-webkit-keyframes fadeIn {
	0% { opacity:0;}
	100% { opacity:1;}
}
@keyframes fadeIn {
	0% { opacity:0;}
	100% { opacity:1;}
}

@-webkit-keyframes rotate {
	0% { -webkit-transform:rotate(0deg);}
	100% { -webkit-transform:rotate(360deg);}
}
@keyframes rotate {
	0% { transform:rotate(0deg);}
	100% { transform:rotate(360deg);}
}

.index_lightL,
.index_lightR,
.index_shadow,
.index_host,
.index_text,
.index_tag,
.index_bototm,
.column_wrap,
.column01_li01_host,
.column01_li01_cz,
.column01_li01_ly,
.column01_li01_xh,
.column01_li01_line,
.column01_li02,
.column01_li02_light,
.pcUrl,
.pcContent_wrap,
.column02_host,
.column02_text,
.column02_btn,
.column02_bottomBtn,
.phonePoint,
.phoneMenu_btn,
.phoneMenu,
.phoneMenuBg,
.phonePop_main,
.phonePop_btn,
.phone01_li08_wrap,
.phone01_li08,
.phone02_li02_bg,
.phone03_li02_02,
.wechatPop_Img,
.morePop_main,
.morePop_close,
.download_img,
.morePop_video {
	position:absolute;
}

.index_lightL,
.index_lightR,
.index_shadow,
.index_host,
.index_text,
.index_tag,
.index_bototm a,
.column01_li01_cz,
.column01_li01_ly,
.column01_li01_xh,
.column01_li01_line,
.column01_li02_light,
.pcContent_wrap1_1,
.pcContent_wrap2_1,
.pcContent_wrap2_2,
.pcContent_wrap3_1,
.pcContent_wrap4_1,
.pcContent_wrap5_1,
.pcContent_wrap6_1,
.pcContent_wrap7_1,
.pcContent_wrap7_2,
.column02_text,
.column02_btn,
.phone_wrap,
.phone02_li02_bg,
.phone02_li02_02,
.phone03_li02_02 img,
.phone04_li02_02 {
	opacity:0;
}

.index_host,
.index_text,
.index_tag,
.column_title,
.column_textWrap,
.column_btnWrap,
.column01_wrap,
.column01_list li:nth-of-type(1),
.column01_list li:nth-of-type(2),
.column01_li01_host,
.column02_host,
.phone_wrap {
	-webkit-transform:translate3d(-50%,0,0);
	transform:translate3d(-50%,0,0);
}

#loading,
.wd,
.index,
.column,
.column01_list,
.column01_list li,
.phoneColumn,
.phoneItem,
.phoneList_bg {
	position:absolute;
	left:0; 
	top:0; 
	width:100%; 
	height:100%;  
	overflow:hidden;
}

.wd { position:relative; max-width:640px; margin:0 auto; background:url(../images/bg.jpg) no-repeat; background-size:100% 100%;}
.column { display:none;}
.column_title { position:absolute; z-index:8; left:50%; top:0; width:1.62rem; height:0.73rem; line-height:0.73rem; background:url(../images/column_title.png) no-repeat; background-size:100% 100%; text-align:center; font-size:0.3rem; text-shadow:0 1px rgba(0,0,0,0.25);}
.column_wrap { overflow:hidden;}
.column_textWrap { position:absolute; left:50%; top:7.01rem; z-index:2; width:5.6rem; line-height:1.7; font-size:0.26rem; text-align:center; text-shadow:0 1px rgba(0,0,0,0.25); background:-webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0)); background:linear-gradient(to bottom, rgba(0.8,0,0,1), rgba(0,0,0,0)); padding:0.25rem 0.3rem; display:none;}
.column_textWrap_btn { display:inline-block; height:0.36rem; line-height:0.34rem; font-size:0.2rem; color:#4d5967; border:1px solid #c7c8c8; background:-webkit-linear-gradient(top, #f0f0f0, #e5e5e5); background:linear-gradient(to bottom, #f0f0f0, #e5e5e5); padding:0 0.18rem; margin:0.1rem 0.1rem 0 0.1rem;}
.column_textWrap_blueLink { color:#59c5ff; margin:0 0.1rem;}
.column_btnWrap { position:absolute; z-index:8; left:50%; bottom:0.55rem; width:5.6rem;}
.column_backBtn { width:1.5rem; height:0.72rem; line-height:0.72rem; text-align:center; background:-webkit-linear-gradient(top, #4DB3D9, #2289B0); background:-webkit-linear-gradient(to bottom, #4DB3D9, #2289B0); border-radius:0.1rem;}
.column_textWrap_blueBtn { display:inline-block; height:0.36rem; line-height:0.36rem; text-align:center; font-size:0.2rem; color:#fff; background:-webkit-linear-gradient(top, #14aaff, #21a6f1); background:linear-gradient(to bottom, #14aaff, #21a6f1); border-radius:0.03rem; padding:0 0.23rem; margin:0.1rem 0.1rem 0 0.1rem;}
.column_backBtn span { vertical-align:middle;}
.column_backBtn .column_arrow { margin-right:0.17rem;}
.column_arrow { display:inline-block; width:0.14rem; height:0.24rem; vertical-align: middle;}
.column_arrow_onL { background:url(../images/arrow_onL.png) no-repeat; background-size:100% 100%;}
.column_arrow_onR { background:url(../images/arrow_onR.png) no-repeat; background-size:100% 100%;}
.column_arrow_offL { background:url(../images/arrow_offL.png) no-repeat; background-size:100% 100%;}
.column_arrow_offR { background:url(../images/arrow_offR.png) no-repeat; background-size:100% 100%;}
.column_switchWrap { position:absolute; right:0; top:0; font-size:0;}
.column_switchWrap li { display:inline-block; font-size:0.28rem; vertical-align:middle;}
.column_switchWrap li .column_arrow_onL,.column_switchWrap li .column_arrow_onR { display:none;}
.column_switchWrap a { width:1rem; height:0.72rem; line-height:0.72rem; text-align:center; background:-webkit-linear-gradient(top, #ccc, #888); background:linear-gradient(to bottom, #ccc, #888); border-radius:0.1rem;}
.column_switchActive a { background:-webkit-linear-gradient(top, #333, #000); background:linear-gradient(to bottom, #333, #000);}
.column_switchWrap .column_switchActive .column_arrow_onL,.column_switchWrap .column_switchActive .column_arrow_onR { display:inline-block;}
.column_switchWrap .column_switchActive .column_arrow_offL,.column_switchWrap .column_switchActive .column_arrow_offR { display:none;}
.column_num { color:#ccc; margin:0 0.2rem;}
.jumpBtn,.jumpMore { display:inline-block; height:0.5rem; line-height:0.48rem; text-align:center; font-size:0.24rem; color:#fff; background:transparent; border:1px solid #fff; border-radius:0.05rem; padding:0 0.34rem; margin-top:0.1rem;}

/*index*/
.index_lightL { left:-25%; top:0; width:11rem;}
.index_lightR { right:-25%; top:0; width:11rem;}
.index_shadow { left:0; top:56%; width:100%;}
.index_host,.index_text { z-index:2;}
.index_host { left:50%; top:1.5rem; width:1.62rem;}
.index_text { left:50%; top:78%; width:5.21rem;}
.index_tag { z-index:3; left:50%; top:2.4rem; width:3.5rem;}
.index_bototm { left:0; bottom:0.55rem; width:100%; text-align:center; font-size:0;}
.index_bototm a { display:inline-block; width:2.55rem; height:0.72rem; line-height:0.72rem; text-align:center; font-size:0.24rem; text-shadow:0 1px rgba(0,0,0,0.25); background:-webkit-linear-gradient(top, #4DB3D9, #2289B0); background:-webkit-linear-gradient(to bottom, #4DB3D9, #2289B0); border-radius:0.1rem; margin:0 0.13rem;}

.index_ani .index_host { -webkit-animation:fadeIn 0.8s ease 0.1s forwards; animation:fadeIn 0.8s ease 0.1s forwards;}
.index_ani .index_lightL { -webkit-animation:index_lightL 0.8s ease 0.8s forwards; animation:index_lightL 0.8s ease 0.8s forwards; -webkit-transform-origin:0 0; transform-origin:0 0;}
@-webkit-keyframes index_lightL {
	0% { -webkit-transform:rotate(-45deg); opacity:0;}
	100% { -webkit-transform:rotate(0deg); opacity:1;}
}
@keyframes index_lightL {
	0% { transform:rotate(-45deg); opacity:0;}
	100% { transform:rotate(0deg); opacity:1;}
}
.index_ani .index_lightR { -webkit-animation:index_lightR 0.7s ease 0.8s forwards; animation:index_lightR 0.7s ease 0.8s forwards; -webkit-transform-origin:100% 0; transform-origin:100% 0;}
@-webkit-keyframes index_lightR {
	0% { -webkit-transform:rotate3d(1,1,1,45deg); opacity:0;}
	100% { -webkit-transform:rotate3d(1,1,1,0deg); opacity:1;}
}
@keyframes index_lightR {
	0% { transform:rotate3d(1,1,1,45deg); opacity:0;}
	100% { transform:rotate3d(1,1,1,0deg); opacity:1;}
}
.index_ani .index_shadow { -webkit-animation:fadeIn 0.6s ease 0.95s forwards; animation:fadeIn 0.6s ease 0.95s forwards;}
.index_ani .index_tag { -webkit-animation:index_tag 0.7s linear 1.4s forwards; animation:index_tag 0.7s linear 1.4s forwards;}
@-webkit-keyframes index_tag {
	0% { top:-35%; opacity:1;}
	70% { top:23%; opacity:1;}
	85% { top:21%; opacity:1;}
	100% { top:23%; opacity:1;}
}
@keyframes index_tag {
	0% { top:-35%; opacity:1;}
	70% { top:23%; opacity:1;}
	85% { top:21%; opacity:1;}
	100% { top:23%; opacity:1;}
}
.index_ani .index_text { -webkit-animation:index_text 0.8s ease-out 2s forwards; animation:index_text 0.8s ease-out 2s forwards; -webkit-transform-origin:50% 0; transform-origin:50% 0;}
@-webkit-keyframes index_text {
	0% { -webkit-transform:translate3d(-50%,-20%,0); opacity:1;}
	100% { -webkit-transform:translate3d(-50%,0,0); opacity:1;}
}
@keyframes index_text {
	0% { transform:translate3d(-50%,-20%,0); opacity:1;}
	100% { transform:translate3d(-50%,0,0); opacity:1;}
}
.index_ani .index_btn01 { -webkit-animation:index_btn 0.6s ease 2.4s forwards; animation:index_btn 0.6s ease 2.4s forwards;}
.index_ani .index_btn02 { -webkit-animation:index_btn 0.6s ease 2.6s forwards; animation:index_btn 0.6s ease 2.6s forwards;}
@-webkit-keyframes index_btn {
	0% { -webkit-transform:translate3d(0,150%,0); opacity:1;}
	100% { -webkit-transform:translate3d(0,0,0); opacity:1;}
}
@keyframes index_btn {
	0% { -webkit-transform:translate3d(0,150%,0); opacity:1;}
	100% { -webkit-transform:translate3d(0,0,0); opacity:1;}
}

/*column01*/
.column01_wrap { left:50%; top:1.39rem; width:100%; height:6.04rem;}
.column01_list li { opacity:0;}
.column01_list li:nth-of-type(1),.column01_list li:nth-of-type(2) { left:50%; top:0.11rem; width:5.6rem; height:5.99rem;}
.column01_list li:nth-of-type(n+3) { background:url(../images/pc_bg.png) no-repeat; background-size:100% 100%;}
.column01_li01_host { z-index:3; left:50%; top:0; width:1.62rem;}
.column_ani .column01_li01_host { -webkit-animation:column01_li01_host 1.3s ease 0.3s forwards; animation:column01_li01_host 1.3s ease 0.3s forwards;}
@-webkit-keyframes column01_li01_host {
	0% { -webkit-transform:translate3d(-50%,0,0);}
	100% { -webkit-transform:translate3d(-2.8rem,0,0);}
}
@keyframes column01_li01_host {
	0% { transform:translate3d(-50%,0,0);}
	100% { transform:translate3d(-2.8rem,0,0);}
}
.column01_li01_line { left:50%; height:0.07rem; background-color:#fff; -webkit-transform:translate3d(-1.21rem,0,0);transform:translate3d(-1.21rem,0,0);}
.column01_li01_line01 { top:1rem; width:2.95rem;} 
.column_ani .column01_li01_line01 { -webkit-animation:column01_li01_line01 1.1s ease-out 1.4s forwards; animation:column01_li01_line01 1.1s ease-out 1.4s forwards;}
@-webkit-keyframes column01_li01_line01 {
	0% { width:0; opacity:1;}
	100% { width:2.95rem; opacity:1;}
}
@keyframes column01_li01_line01 {
	0% { width:0; opacity:1;}
	100% { width:2.95rem; opacity:1;}
}
.column01_li01_line02 { top:4.76rem; width:1.77rem;} 
.column_ani .column01_li01_line02 { -webkit-animation:column01_li01_line02 0.7s ease-out 2.7s forwards; animation:column01_li01_line02 0.7s ease-out 2.7s forwards;}
@-webkit-keyframes column01_li01_line02 {
	0% { width:0; opacity:1;}
	100% { width:1.77rem; opacity:1;}
}
@keyframes column01_li01_line02 {
	0% { width:0; opacity:1;}
	100% { width:1.77rem; opacity:1;}
}
.column01_li01_cz { left:50%; top:0.39rem; width:1.21rem; -webkit-transform:translate3d(1.43rem,0,0);transform:translate3d(1.43rem,0,0);}
.column_ani .column01_li01_cz { -webkit-animation:fadeIn 0.6s ease 2.3s forwards; animation:fadeIn 0.6s ease 2.3s forwards;}
.column01_li01_ly { left:50%; top:3.84rem; width:2.33rem; -webkit-transform:translate3d(0.34rem,0,0);transform:translate3d(0.34rem,0,0);}
.column_ani .column01_li01_ly { -webkit-animation:fadeIn 0.6s ease 3.2s forwards; animation:fadeIn 0.6s ease 3.2s forwards;}
.column01_li01_xh { left:50%; bottom:2.25rem; width:0.97rem; height:0.55rem; -webkit-transform:translate3d(0.39rem,0,0);transform:translate3d(0.39rem,0,0); overflow:hidden;}
.column01_li01_xh img { position:absolute; left:0; bottom:0; width:0.97rem; height:0.55rem;}
.column_ani .column01_li01_xh { -webkit-animation:column01_li01_xh 2s ease-in-out 3.5s infinite; animation:column01_li01_xh 2s ease-in-out 3.5s infinite;}
@-webkit-keyframes column01_li01_xh {
	0% {  opacity:0;}
	50% { opacity:1;}
	100% { opacity:0;}
}
@keyframes column01_li01_xh {
	0% {  opacity:0;}
	50% { opacity:1;}
	100% { opacity:0;}
}

.column01_li02 { left:50%; top:0; width:1.62rem; height:5.99rem; -webkit-transform:translate3d(-2.8rem,0,0); transform:translate3d(-2.8rem,0,0);}
.column_ani .column01_li02 { -webkit-animation:column01_li02 1.3s ease 0.3s forwards; animation:column01_li02 1.3s ease 0.3s forwards;}
@-webkit-keyframes column01_li02 {
	0% { -webkit-transform:translate3d(-2.8rem,0,0);}
	100% { -webkit-transform:translate3d(-50%,0,0);}
}
@keyframes column01_li02 {
	0% { transform:translate3d(-2.8rem,0,0);}
	100% { transform:translate3d(-50%,0,0);}
}
.column01_li02_light { left:0.07rem; top:3.04rem; width:2rem; height:2rem; border-radius:50%; border:0.12rem solid #53CFFF; box-shadow:0 0 20px rgba(0,0,0,0.65);}
.column_ani .column01_li02_light { -webkit-animation:fadeIn 0.7s ease 0.9s forwards; animation:fadeIn 0.7s ease 0.9s forwards;}
.pcUrl { left:20.3125%; top:0.53rem; overflow:hidden;}
.pcContent_wrap { left:0; top:1.27rem; width:100%; height:3.8rem;}
.pcContent_wrap img { position:absolute;}
.pcContent_bg { left:0; top:0; width:100%; height:100%;}
.pcUrl_1 img,.pcUrl_2 img { width:2.05rem;}
.column_ani .pcUrl_1 { width:0; -webkit-animation:pcUrl_1 1.4s linear 0.1s forwards; animation:pcUrl_1 1.4s linear 0.1s forwards;}
@-webkit-keyframes pcUrl_1 {
	0% { width:0;}
	100% { width:2.05rem;}
}
@keyframes pcUrl_1 {
	0% { width:0;}
	100% { width:2.05rem;}
}
.column_ani .pcContent_wrap1_1 { -webkit-animation:fadeIn 0.3s ease-out 1.6s forwards; animation:fadeIn 0.3s ease-out 1.6s forwards;}
.pcContent_2_1 { left:19.6875%; top:30.78947368421%; width:0.8rem; height:0.8rem;}
.column_ani .pcContent_2_1,
.column_ani .pcContent_7_1 { 
	-webkit-animation:rotate 1s linear 0s infinite; 
	animation:rotate 1s linear 0s infinite;
}
.column_ani .pcContent_wrap2_1,
.column_ani .pcContent_wrap3_1,
.column_ani .pcContent_wrap4_1,
.column_ani .pcContent_wrap5_1,
.column_ani .pcContent_wrap6_1,
.column_ani .pcContent_wrap7_1 { 
	-webkit-animation:fadeIn 0.3s ease-out 0.1s forwards; 
	animation:fadeIn 0.3s ease-out 0.1s forwards;
}
.column_ani .pcContent_wrap2_2,
.column_ani .pcContent_wrap7_2 { 
	-webkit-animation:fadeIn 0.4s ease-out 1.7s forwards; 
	animation:fadeIn 0.4s ease-out 1.7s forwards;
}
.pcUrl_3 img,.pcUrl_4 img { width:1.62rem;}
.pcContent_3_1 { left:11.5625%; top:43.1578947368421%; width:5.02rem; height:0.45rem;}
.pcUrl_5 img { width:0.16rem;}
.pcUrl_6 img,.pcUrl_7 img { width:3.35rem;}
.pcContent_6_1 { left:18.125%; top:52.8947368421%; width:4.46rem; height:1rem;}
.pcContent_7_1 { left:19.6875%; top:30.78947368421%; width:0.8rem; height:0.8rem;}

/*column02*/
.column02_host { left:50%; top:1.5rem; width:1.62rem;}
.column02_ani .column02_host { -webkit-animation:column02_host 1.3s ease 0.3s forwards; animation:column02_host 1.3s ease 0.3s forwards;}
@-webkit-keyframes column02_host {
	0% { -webkit-transform:translate3d(-50%,0,0);}
	100% { -webkit-transform:translate3d(-2.77rem,0,0);}
}
@keyframes column02_host {
	0% { transform:translate3d(-50%,0,0);}
	100% { transform:translate3d(-2.77rem,0,0);}
}
.column02_text { left:50%; top:2.56rem; width:3.28rem; -webkit-transform:translate3d(-0.46rem,0,0);transform:translate3d(-0.46rem,0,0);}
.column02_ani .column02_text { -webkit-animation:column02_text 1s ease 1.12s forwards; animation:column02_text 1s ease 1.12s forwards;}
@-webkit-keyframes column02_text {
	0% { -webkit-transform:translate3d(0.5rem,0,0); opacity:0;}
	100% { -webkit-transform:translate3d(-0.46rem,0,0); opacity:1;}
}
@keyframes column02_text {
	0% { transform:translate3d(0.5rem,0,0); opacity:0;}
	100% { transform:translate3d(-0.46rem,0,0); opacity:1;}
}
.column02_btn { left:50%; box-shadow:0.2rem 0.15rem 0.12rem rgba(0,0,0,0.1); -webkit-transform:translate3d(-0.49rem,0,0);transform:translate3d(-0.49rem,0,0);}
.column02_btn01 { top:4.38rem;}
.column02_btn02 { top:5.45rem;}
.column02_ani .column02_btn01 { -webkit-animation:column02_btn 1s ease 1.7s forwards; animation:column02_btn 1s ease 1.7s forwards;}
.column02_ani .column02_btn02 { -webkit-animation:column02_btn 1s ease 1.9s forwards; animation:column02_btn 1s ease 1.9s forwards;}
@-webkit-keyframes column02_btn {
	0% { -webkit-transform:translate3d(0.5rem,0,0); opacity:0;}
	100% { -webkit-transform:translate3d(-0.49rem,0,0); opacity:1;}
}
@keyframes column02_btn {
	0% { transform:translate3d(0.5rem,0,0); opacity:0;}
	100% { transform:translate3d(-0.49rem,0,0); opacity:1;}
}
.column02_bottomBtn { right:0; top:0; width:3.6rem;}

/*phoneColumn*/
.phoneColumn { display:none;}
.phone_wrap { left:50%; top:30%; width:6.4rem; height:9.14rem; background:url(../images/phone_bg.png) no-repeat; background-size:100% 100%;}
.phoneColumn_ani .phone_wrap { -webkit-animation:phone_wrap 1s ease 0.1s forwards; animation:phone_wrap 1s ease 0.1s forwards;}
@-webkit-keyframes phone_wrap {
	0% { top:30%; opacity:0;}
	100% { top:0.14rem; opacity:1;}
}
@keyframes phone_wrap {
	0% { top:30%; opacity:0;}
	100% { top:0.14rem; opacity:1;}
}
/*
.phoneColumn .column_textWrap { opacity:0;}
.phoneColumn_ani .column_textWrap { -webkit-animation:fadeIn 0.5s ease 0.8s forwards; animation:fadeIn 0.5s ease 0.8s forwards;}
*/
.phoneContent { position:absolute; left:1.57rem; top:1.2rem; width:3.28rem; height:5.83rem; background-color:#000; overflow:hidden;}
.phoneList { position:absolute; left:0; top:0; white-space:nowrap; font-size:0;}
.phoneList li { position:relative; display:inline-block; width:3.28rem; height:5.83rem; font-size:0.24rem; overflow:hidden;}
.phoneList img { position:absolute;}
.phoneColumn .column_textWrap { top:7.25rem;}
.phoneMenu_btn { z-index:10; right:0; top:0.33rem; display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; -webkit-box-pack:center; box-pack:center; -webkit-box-align:center; box-align:center; width:0.94rem; height:0.8rem; line-height:0.8rem; text-align:center; background:-webkit-linear-gradient(top, #4DB3D9, #2289B0); background:linear-gradient(to bottom, #4DB3D9, #2289B0); border-radius:0.05rem 0 0 0.05rem; -webkit-transition:transform 0.5s ease 0.3s; transition:transform 0.5s ease 0.3s;}
.phoneMenu_btn span { display:block; width:0.34rem; height:2px; background-color:#fff; margin:0.05rem 0;}
.phoneMenu { z-index:11; top:0.33rem; right:0; width:2.74rem; background-color:#fff; border-radius:0.1rem 0 0 0.1rem; padding-left:0.24rem; -webkit-transform:translate3d(100%,0,0); transform:translate3d(100%,0,0); -webkit-transition:transform 0.5s ease 0.15s; transition:transform 0.5s ease 0.15s;}
.phoneMenu li { border-bottom:1px solid #cccccc;}
.phoneMenu li:last-of-type { border-bottom:none;}
.phoneMenu li a { height:0.7rem; line-height:0.7rem; font-size:0.28rem; color:#333; padding-left:0.07rem;}
.phoneMenu .active a { color:#2289B0;}
.phoneMenuBg { z-index:9; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8); display:none;}
.column03_ani .phoneMenu_btn { -webkit-transition:transform 0.5s ease 0s; transition:transform 0.5s ease 0s; -webkit-transform:translate3d(100%,0,0); transform:translate3d(100%,0,0);}
.column03_ani .phoneMenu { -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0);}

.phone01_li08_wrap { left:0; top:1rem; right:0; bottom:2.18rem;}
.phone01_li08 { left:50%; top:50%; width:2.22rem; width:2.22rem; border-radius:50%; margin:-1.11rem 0 0 -1.11rem;}
.column_ani .phone01_li08 { -webkit-animation:rotate 15s linear 0.1s infinite; animation:rotate 15s linear 0.1s infinite;}
.phone01_li08_02 { left:0; bottom:0; width:100%; height:1.18rem;}
.phone01_li10_01 { left:50%; top:50%; width:3.28rem; -webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);}
#video { position:relative; z-index:2; width:100%; height:100%;}

.phone02_li02_bg { left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
.column_ani .phone02_li02_bg { -webkit-animation:fadeIn 0.2s ease 0.5s forwards; animation:fadeIn 0.2s ease 0.5s forwards;}
.phone02_li02_02 { left:50%; bottom:0; width:3rem; -webkit-transform:translate3d(-50%,100%,0); transform:translate3d(-50%,100%,0);}
.column_ani .phone02_li02_02 { -webkit-animation:phone02_li02_02 0.8s ease 0.6s forwards; animation:phone02_li02_02 0.8s ease 0.6s forwards;}
@-webkit-keyframes phone02_li02_02 {
	0% { -webkit-transform:translate3d(-50%,100%,0); opacity:0.5;}
	100% { -webkit-transform:translate3d(-50%,0,0); opacity:1;}
}
@keyframes phone02_li02_02 {
	0% { transform:translate3d(-50%,100%,0); opacity:0.5;}
	100% { transform:translate3d(-50%,0,0); opacity:1;}
}

.phone03_li02_bg { top:0.56rem; height:4.82rem; background:rgba(51,51,51,0.6);}
.phone03_li02_02 { right:0; top:0.56rem; width:1.88rem; height:2.18rem; overflow:hidden;}
.phone03_li02_02 img { width:100%; -webkit-transform:translate3d(0,-100%,0); transform:translate3d(0,-100%,0);}
.column_ani .phone03_li02_02 img { -webkit-animation:phone03_li02_02 0.8s ease 0.6s forwards; animation:phone03_li02_02 0.8s ease 0.6s forwards;}
@-webkit-keyframes phone03_li02_02 {
	0% { -webkit-transform:translate3d(0,-100%,0); opacity:0.7;}
	100% { -webkit-transform:translate3d(0,0,0); opacity:1;}
}
@keyframes phone03_li02_02 {
	0% { transform:translate3d(0,-100%,0); opacity:0.5;}
	100% { transform:translate3d(0,0,0); opacity:1;}
}

.phone04_li02_02 { left:0; top:0; width:100%; height:100%; -webkit-transform:translate3d(-100%,0,0); transform:translate3d(-100%,0,0);}
.column_ani .phone04_li02_02 { -webkit-animation:phone04_li02_02 1s ease 0.6s forwards; animation:phone04_li02_02 1s ease 0.6s forwards;}
@-webkit-keyframes phone04_li02_02 {
	0% { -webkit-transform:translate3d(-100%,0,0); opacity:1;}
	100% { -webkit-transform:translate3d(0,0,0); opacity:1;}
}
@keyframes phone04_li02_02 {
	0% { transform:translate3d(-100%,0,0); opacity:1;}
	100% { transform:translate3d(0,0,0); opacity:1;}
}

.phone04_li03 { left:0; top:0; width:100%;}
.column_ani .phone04_li03 { -webkit-animation:phone04_li03 1.4s ease 0.75s forwards; animation:phone04_li03 1.4s ease 0.75s forwards;}
@-webkit-keyframes phone04_li03 {
	0% { -webkit-transform:translate3d(0,0,0);}
	100% { -webkit-transform:translate3d(0,-3.84rem,0);}
}
@keyframes phone04_li03 {
	0% { transform:translate3d(0,0,0);}
	100% { transform:translate3d(0,-3.84rem,0);}
}

.phone05_li06_02 { left:50%; top:50%; width:0.6rem; -webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0);}

.phonePoint { width:0.35rem; height:0.35rem;}
.phone01_li03_point { left:2.62rem; top:0.64rem;}
.phone01_li04_point { left:2.62rem; top:1.55rem;}
.phone01_li05_point { left:1.48rem; top:3.1rem;}
.phone01_li07_point { left:2.62rem; bottom:0.62rem;}
.phone01_li09_point { right:0.34rem; top:3.5rem;}
.phone02_li01_point { right:0.16rem; top:0.2rem; opacity:0.6;}
.phone03_li01_point { right:0.07rem; top:0.19rem; opacity:0.6;}
.phone03_li02_point { right:0.4rem; top:1.91rem; opacity:0;}
.column_ani .phone03_li02_point { -webkit-animation:fadeIn 0.2s ease 1.5s forwards; animation:fadeIn 0.2s ease 1.5s forwards;}
.phone03_li03_point { left:2.62rem; top:0.64rem;}
.phone03_li04_point { right:0.57rem; bottom:0.05rem; opacity:0.6;}
.phone04_li01_point,.phone05_li01_point { left:0.07rem; top:0.19rem; opacity:0.6;}
.phone04_li02_point { left:1.1rem; top:4.45rem; opacity:0;}
.column_ani .phone04_li02_point,.column_ani .phone05_li02_point { -webkit-animation:fadeIn 0.2s ease 1.6s forwards; animation:fadeIn 0.2s ease 1.6s forwards;}
.phone04_li03_point { left:2.5rem; top:3.34rem; opacity:0;}
.column_ani .phone04_li03_point { -webkit-animation:fadeIn 0.2s ease 2.2s forwards; animation:fadeIn 0.2s ease 2.2s forwards;}
.phone04_li05_point { left:2.62rem; top:1.16rem;}
.phone04_li06_point { right:0.13rem; top:0.2rem; opacity:0.5;}
.phone05_li02_point { left:1.6rem; top:0.78rem; opacity:0;}
.phone05_li03_point { left:2.62rem; top:3.98rem;}
.phone05_li04_point { left:1rem; top:1.48rem;}

.pop { position:absolute; z-index:9; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8); display:none;}
/*menuPop*/
.phonePop { display:block;}
.phonePop_main { top:0.87rem; right:0.87rem; width:3.33rem; height:3.08rem;}
.phonePop_btn { left:1.04rem; top:2.29rem; height:0.4rem; line-height:0.4rem; font-size:0.2rem; background-color:#3299BF; padding:0 0.3rem;}

/*wechatPop*/
.wechatPop_Img { top:0; right:0.62rem; width:3.5rem;}

/*morePop*/
.morePop { z-index:12;}
.morePop_main { left:50%; top:50%; width:5.81rem; height:8.78rem; background:url(../images/morePop_bg.png) no-repeat; background-size:100% 100%; -webkit-transform:translate3d(-50%,-50%,0); transform:translate3d(-50%,-50%,0); padding:0.09rem;}
.morePop_close { right:-0.04rem; top:-0.22rem; width:0.88rem; height:0.95rem; background:url(../images/morePop_close.png) no-repeat; background-size:100% 100%;}
.morePop_qrWrap,.morePop_btnWrap { text-align:center; font-size:0;}
.morePop_qrWrap { margin-top:0.49rem;}
.morePop_qrItem { display:inline-block; margin:0 0.25rem;}
.morePop_qrItem img { width:1.9rem; height:1.9rem;}
.morePop_qrCode02 { width:1.9rem; height:1.9rem; background:url(../images/morePop_qrCode02.png) no-repeat; background-size:100% 100%;}
.morePop_qrItem p { font-size:0.22rem; font-weight:bold; color:#333;}
.morePop_videoWrap { position:relative; width:4.6rem; height:3.43rem; margin:0 auto; background:url(../images/morePop_videoWrap.png) no-repeat; background-size:100% 100%; margin-top:0.28rem;}
.morePop_video { left:0.09rem; top:0.1rem; width:4.42rem; height:2.75rem;}
.morePop_btnWrap { margin-top:0.4rem;}
.morePop_btn { display:inline-block; margin:0 0.06rem;}
.morePop_btn img { width:2.4rem; height:0.82rem;}
.morePop_tel { width:4.92rem; height:0.5rem; line-height:0.48rem; margin:0.2rem auto 0 auto; text-align:center; font-size:0.22rem; color:#009FDD; background:-webkit-linear-gradient(top, #fff, #DFF4FD); background:linear-gradient(to bottom, #fff, #DFF4FD); border:1px solid #01a0dd;}
.morePop_tel span { font-size:0.26rem;}

/*loading*/
#loading { z-index:999; display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; -webkit-box-pack:center; box-pack:center; -webkit-box-align:center; box-align:center;}
#loading img { position:relative; z-index:2;}
#loading .loading_bg { position:absolute; z-index:1; left:0; top:0; width:100%; height:100%;}
.loading_logo { width:0.92rem;}
.loading_host { width:2.17rem; margin:0.7rem 0 0.8rem 0.2rem;}
.loading_gif { width:0.32rem;}
.loading_text { width:5.21rem; margin-top:0.6rem;}

/*download*/
.download_img { left:50%; top:0.26rem; width:3.86rem; margin-left:-1.39rem;}