@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,select,option,textarea,p,span,blockquote { padding:0;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
body { font:13px/1.5 "Microsoft YaHei",Arial, Helvetica, sans-serif; -webkit-font-smoothing:antialiased;}
h1,h2,h3,h4,h5,h6{font-size:100%}
img { border:none; vertical-align:top;}
a { text-decoration:none; bblr:expression(this.onFocus=this.blur()); outline-style:none;}
ol,ul { list-style:none;}
table { border-collapse:collapse; border-spacing:0; }
button, input, select, textarea { font-size:100%; }
input,select,label { vertical-align:middle;outline:none;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.fl { float:left;}
.fr { float:right;}
.pr { position:relative;}
.pa { position:absolute;}
.tc { text-align:center;}
.tl { text-align:left;}
.lhb16 { line-height:1.6;}
.lhb18 { line-height:1.8;}
.c_666666 { color:#666666;}
.f0 { font-size:0px;}
.f16 { font-size:16px;}
.mt5 { margin-top:5px;}
.mt20 { margin-top:20px;}
.mt45 { margin-top:45px;}
.mt50 { margin-top:50px;}
.mt55 { margin-top:55px;}
.mt65 { margin-top:65px;}
.main { width:1120px; margin:0 auto;}

/*header*/
.header { position:fixed; z-index:10; left:0; top:0; width:100%; height:80px;}
.headerBg { display:none; position:fixed; z-index:9; left:0; top:0; width:100%; height:80px; background-color:#000000;}
.logo { display:block; width:57px; height:54px; margin:13px 0 0 26px;}
.weChart { display:block; width:28px; height:28px; background:url(../img/weChart.png) 0 0 no-repeat; margin:26px 35px 0 0;}
.nav { height:50px; line-height:50px; border-right:1px solid #0F151A; padding-right:30px; margin:15px 30px 0 0;}
.nav li { float:left; margin-left:35px;}
.nav li a { display:block; font-size:15px; color:#ffffff;}
.nav .active a { color:#FF0000;}
.nav li a:hover { color:#FF0000;}

/*banner*/
.banner { height:773px; background:url(../img/bannerImg.jpg) center 0 no-repeat; overflow:hidden;}
.bannerPos01 { left:50%; top:168px; margin-left:-451px; opacity:0; opacity:1\9;}
.bannerPos02 { left:50%; top:193px; margin-left:-229px; opacity:0; opacity:1\9;}
.bannerPos03 { left:50%; top:413px; margin-left:-117px; opacity:0; opacity:1\9;}
.bannerAni .bannerPos01 { -moz-animation:slideLeft 0.7s ease-out 0s forwards; -webkit-animation:slideLeft 0.7s ease-out 0s forwards; animation:slideLeft 0.7s ease-out 0s forwards;}
.bannerAni .bannerPos02 { -moz-animation:slideRight 0.7s ease-out 0.1s forwards; -webkit-animation:slideRight 0.7s ease-out 0.1s forwards; animation:slideRight 0.7s ease-out 0.1s forwards;}
.bannerAni .bannerPos03 { -moz-animation:slideUp 0.7s ease-out 0.2s forwards; -webkit-animation:slideUp 0.7s ease-out 0.2s forwards; animation:slideUp 0.7s ease-out 0.2s forwards;}

.column { overflow:hidden;}
.columnTitle { text-align:center;}
.columnTitle h2 { font-size:46px; font-weight:normal; color:#000000; opacity:0; opacity:1\9;}
.columnTitle p { color:#999999; margin-top:7px; opacity:0; opacity:1\9;}
.columnTitle02 h2 { color:#ffffff;}
.columnTitle02 p { color:#b2b2b8;}
.columnAni .columnTitle h2 { -moz-animation:slideDown 0.7s ease-out 0s forwards; -webkit-animation:slideDown 0.7s ease-out 0s forwards; animation:slideDown 0.7s ease-out 0s forwards;}
.columnAni .columnTitle p { -moz-animation:slideUp 0.7s ease-out 0s forwards; -webkit-animation:slideUp 0.7s ease-out 0s forwards; animation:slideUp 0.7s ease-out 0s forwards;}

.column01 { font-size:14px; text-align:center; padding:90px 0;}
.column01_in { display:inline-block; width:610px;}
.column01_item { opacity:0; opacity:1\9;}
.column01_item02 { margin:60px 0;}
.columnAni .column01_item01 { -moz-animation:slideDown 0.7s ease-out 0.1s forwards; -webkit-animation:slideDown 0.7s ease-out 0.1s forwards; animation:slideDown 0.7s ease-out 0.1s forwards;}
.columnAni .column01_item02 { -moz-animation:fadeIn 0.7s linear 0.25s forwards; -webkit-animation:fadeIn 0.7s linear 0.25s forwards; animation:fadeIn 0.7s linear 0.25s forwards;}
.columnAni .column01_item03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}

.column02 { height:680px; background:url(../img/column02_bg.jpg) repeat-x;}
.column02_ani01 { left:100px; top:68px; opacity:0; opacity:1\9;}
.column02_ani02 { left:382px; top:81px; opacity:0; opacity:1\9;}
.column02_link { font-size:14px; color:#C59334; margin:28px 0 0 58px;}
.column02_link a { color:#C59334;}
.column02_link a:hover { color:#a86e00;}
.column02_ani03 { left:50%; top:273px; margin-left:-396px; opacity:0; opacity:1\9;}
.columnAni .column02_ani01 { -moz-animation:slideLeft 0.7s ease-out 0.1s forwards; -webkit-animation:slideLeft 0.7s ease-out 0.1s forwards; animation:slideLeft 0.7s ease-out 0.1s forwards;}
.columnAni .column02_ani02 { -moz-animation:slideRight 0.7s ease-out 0.25s forwards; -webkit-animation:slideRight 0.7s ease-out 0.25s forwards; animation:slideRight 0.7s ease-out 0.25s forwards;}
.columnAni .column02_ani03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}

.column03 { padding:55px;}
.columnTable { display:table; width:100%; height:100%;}
.columnCell { display:table-cell; height:100%; vertical-align:top;}
.column03_item { width:318px; height:100%; font-size:13px; text-align:center; border:1px solid #f3f3f3; padding:45px 20px 35px 20px; opacity:0; opacity:1\9;}
.column03_item02 { margin:0 20px;}
.columnAni .column03_item01 { -moz-animation:slideUp 0.7s ease-out 0.1s forwards; -webkit-animation:slideUp 0.7s ease-out 0.1s forwards; animation:slideUp 0.7s ease-out 0.1s forwards;}
.columnAni .column03_item02 { -moz-animation:slideUp 0.7s ease-out 0.25s forwards; -webkit-animation:slideUp 0.7s ease-out 0.25s forwards; animation:slideUp 0.7s ease-out 0.25s forwards;}
.columnAni .column03_item03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}

.column04 { background:url(../img/column04_bg.jpg) repeat;}
.column04 .main { background:url(../img/column04_main.jpg) center 0 no-repeat; padding:60px 0 100px 0;}
.column04_item { display:inline-block; width:280px; font-size:13px; color:#cccccc; text-align:center; vertical-align:top; opacity:0; opacity:1\9;}
.column04_item02 { margin:0 140px;}
.column04_title { font-size:16px; color:#ffffff; margin-top:25px;}
.column04_target { display:inline-block; height:26px; line-height:26px;background-color:#323232; background-color:rgba(50,50,50,0.5); border-radius:5px; padding:0 12px; margin:10px 0 18px 0;}
.columnAni .column04_item01 { -moz-animation:slideUp 0.7s ease-out 0.1s forwards; -webkit-animation:slideUp 0.7s ease-out 0.1s forwards; animation:slideUp 0.7s ease-out 0.1s forwards;}
.columnAni .column04_item02 { -moz-animation:slideUp 0.7s ease-out 0.25s forwards; -webkit-animation:slideUp 0.7s ease-out 0.25s forwards; animation:slideUp 0.7s ease-out 0.25s forwards;}
.columnAni .column04_item03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}

.column05 { padding:60px 0;}
.column05_item { width:318px; height:100%; font-size:13px; text-align:center; color:#666666; border:1px solid #f3f3f3; padding:38px 20px; opacity:0; opacity:1\9;}
.column05_title { font-size:16px; color:#E8A800; margin:30px 0 13px 0;}
.column05_item02 { margin:0 20px;}
.columnAni .column05_item01 { -moz-animation:slideUp 0.7s ease-out 0.1s forwards; -webkit-animation:slideUp 0.7s ease-out 0.1s forwards; animation:slideUp 0.7s ease-out 0.1s forwards;}
.columnAni .column05_item02 { -moz-animation:slideUp 0.7s ease-out 0.25s forwards; -webkit-animation:slideUp 0.7s ease-out 0.25s forwards; animation:slideUp 0.7s ease-out 0.25s forwards;}
.columnAni .column05_item03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}

.column06 { background-color:#F4F9FC; padding:70px 0 110px 0;}
.column06_item { display:inline-block; font-size:16px; vertical-align:top; opacity:0; opacity:1\9;}
.column06_title { color:#34464E; margin-top:25px;}
.column06_item02 { margin:0 170px;}
.columnAni .column06_item01 { -moz-animation:slideUp 0.7s ease-out 0.1s forwards; -webkit-animation:slideUp 0.7s ease-out 0.1s forwards; animation:slideUp 0.7s ease-out 0.1s forwards;}
.columnAni .column06_item02 { -moz-animation:slideUp 0.7s ease-out 0.25s forwards; -webkit-animation:slideUp 0.7s ease-out 0.25s forwards; animation:slideUp 0.7s ease-out 0.25s forwards;}
.columnAni .column06_item03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}

.column07 { height:522px; background:url(../img/column07_bg.jpg) center 0 no-repeat;}
.column07 .main { padding:95px 0 0 0;}
.column07_wrap { display:inline-block; font-size:13px; margin:0 0 0 75px; opacity:0; opacity:1\9;}
.column07_item { color:#666666; text-align:left; margin-bottom:40px;}
.column07_item img { vertical-align:middle;}
.column07_txt { display:inline-block; vertical-align:middle; margin-left:10px;}
.column07_name { font-size:16px; color:#C69435;}
.columnAni .column07_wrap01 { -moz-animation:slideLeft 0.7s ease-out 0.1s forwards; -webkit-animation:slideLeft 0.7s ease-out 0.1s forwards; animation:slideLeft 0.7s ease-out 0.1s forwards;}
.columnAni .column07_wrap02 { -moz-animation:slideRight 0.7s ease-out 0.25s forwards; -webkit-animation:slideRight 0.7s ease-out 0.25s forwards; animation:slideRight 0.7s ease-out 0.25s forwards;}

.column08 { background-color:#f8f8f8; padding:70px 0 130px 0;}
.column08_item { display:inline-block; vertical-align:middle; margin:53px 0 0 70px; opacity:0; opacity:1\9;}
.columnAni .column08_item01 { -moz-animation:slideUp 0.7s ease-out 0.1s forwards; -webkit-animation:slideUp 0.7s ease-out 0.1s forwards; animation:slideUp 0.7s ease-out 0.1s forwards;}
.columnAni .column08_item02 { -moz-animation:slideUp 0.7s ease-out 0.25s forwards; -webkit-animation:slideUp 0.7s ease-out 0.25s forwards; animation:slideUp 0.7s ease-out 0.25s forwards;}
.columnAni .column08_item03 { -moz-animation:slideUp 0.7s ease-out 0.4s forwards; -webkit-animation:slideUp 0.7s ease-out 0.4s forwards; animation:slideUp 0.7s ease-out 0.4s forwards;}
.columnAni .column08_item04 { -moz-animation:slideUp 0.7s ease-out 0.55s forwards; -webkit-animation:slideUp 0.7s ease-out 0.55s forwards; animation:slideUp 0.7s ease-out 0.55s forwards;}
.columnAni .column08_item05 { -moz-animation:slideUp 0.7s ease-out 0.6s forwards; -webkit-animation:slideUp 0.7s ease-out 0.6s forwards; animation:slideUp 0.7s ease-out 0.6s forwards;}
.columnAni .column08_item06 { -moz-animation:slideUp 0.7s ease-out 0.75s forwards; -webkit-animation:slideUp 0.7s ease-out 0.75s forwards; animation:slideUp 0.7s ease-out 0.75s forwards;}
.columnAni .column08_item07 { -moz-animation:slideUp 0.7s ease-out 0.9s forwards; -webkit-animation:slideUp 0.7s ease-out 0.9s forwards; animation:slideUp 0.7s ease-out 0.9s forwards;}

.copyRight { text-align:center; color:#999999; padding:60px 0;}
.copyRight p { margin-top:5px;}

@-moz-keyframes slideLeft{
	0%{ -moz-transform:translate(-50%,0); opacity:0;}
	100%{ -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes slideLeft{
	0%{ -webkit-transform:translate(-50%,0); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes slideLeft{
	0%{ transform:translate(-50%,0); opacity:0;}
	100%{ transform:translate(0,0); opacity:1;}
}

@-moz-keyframes slideRight{
	0%{ -moz-transform:translate(50%,0); opacity:0;}
	100%{ -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes slideRight{
	0%{ -webkit-transform:translate(50%,0); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes slideRight{
	0%{ transform:translate(50%,0); opacity:0;}
	100%{ transform:translate(0,0); opacity:1;}
}

@-moz-keyframes slideDown{
	0%{ -moz-transform:translate(0,-50%); opacity:0;}
	100%{ -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes slideDown{
	0%{ -webkit-transform:translate(0,-50%); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes slideDown{
	0%{ transform:translate(0,-50%); opacity:0;}
	100%{ transform:translate(0,0); opacity:1;}
}

@-moz-keyframes slideUp{
	0%{ -moz-transform:translate(0,50%); opacity:0;}
	100%{ -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes slideUp{
	0%{ -webkit-transform:translate(0,50%); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes slideUp{
	0%{ transform:translate(0,50%); opacity:0;}
	100%{ transform:translate(0,0); opacity:1;}
}

@-moz-keyframes fadeIn{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes fadeIn{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@keyframes fadeIn{
	0%{ opacity:0;}
	100%{ opacity:1;}
}