@charset "utf-8";
/* CSS Document */
html { font-size:62.5%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,select,option,textarea,p,span,blockquote { padding:0;margin:0;}
body { font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif; font-size:100%; line-height:1.5; position:relative;}
img { border:none; vertical-align:top;}
a { text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
ul { list-style:none;}
input,select,label { vertical-align:middle;outline:none;}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.va_m { vertical-align:middle;}
.width100 { width:100%;}
.ta_c { text-align:center;}

.spgd { font-size:1.4rem; background-color:#1f387f; padding-bottom:2rem;}
.spgdHeader { position:relative; width:100%; overflow:hidden;}
.spgdHeader01 { position:absolute; top:25%; left:0; width:100%; opacity:0;}
.spgdHeaderAni .spgdHeader01 { -moz-animation:spgdHeader01 0.6s ease 0.6s both; -webkit-animation:spgdHeader01 0.6s ease 0.6s both; animation:spgdHeader01 0.6s ease 0.6s both;}
@-moz-keyframes spgdHeader01{
	0%{ -moz-transform:scale(2.5,2.5); opacity:0;}
	25%{ -moz-transform:scale(0.92,0.92); opacity:0.85;}
	40%{ -moz-transform:scale(1.02,1.02); opacity:0.9;}
	55%{ -moz-transform:scale(0.95,0.95); opacity:0.95;}
	70%{ -moz-transform:scale(1.01,1.01); opacity:1;}
	85%{ -moz-transform:scale(0.98,0.98); opacity:1;}
	100%{ -moz-transform:scale(1,1); opacity:1;}
}
@-webkit-keyframes spgdHeader01{
	0%{ -webkit-transform:scale(2.5,2.5); opacity:0;}
	25%{ -webkit-transform:scale(0.92,0.92); opacity:0.85;}
	40%{ -webkit-transform:scale(1.02,1.02); opacity:0.9;}
	55%{ -webkit-transform:scale(0.95,0.95); opacity:0.95;}
	70%{ -webkit-transform:scale(1.01,1.01); opacity:1;}
	85%{ -webkit-transform:scale(0.98,0.98); opacity:1;}
	100%{ -webkit-transform:scale(1,1); opacity:1;}
}
@keyframes spgdHeader01{
	0%{ transform:scale(2.5,2.5); opacity:0;}
	25%{ transform:scale(0.92,0.92); opacity:0.85;}
	40%{ transform:scale(1.02,1.02); opacity:0.9;}
	55%{ transform:scale(0.95,0.95); opacity:0.95;}
	70%{ transform:scale(1.01,1.01); opacity:1;}
	85%{ transform:scale(0.98,0.98); opacity:1;}
	100%{ transform:scale(1,1); opacity:1;}
}
.spgdHeader02 { position:absolute; top:11.8%; left:37.6%; width:35%; opacity:0;}
.spgdHeaderAni .spgdHeader02 { -moz-animation:spgdHeader02 0.5s ease 1.2s both; -webkit-animation:spgdHeader02 0.5s ease 1.2s both; animation:spgdHeader02 0.5s ease 1.2s both; -moz-transform-origin:40% 100%; -webkit-transform-origin:40% 100%; transform-origin:40% 100%;}
@-moz-keyframes spgdHeader02{	
	0%{ -moz-transform:scale(0.2,0.2); opacity:0;}
	25%{ -moz-transform:scale(1.06,1.06); opacity:0.85;}
	40%{ -moz-transform:scale(0.98,0.98); opacity:0.9;}
	55%{ -moz-transform:scale(1.04,1.04); opacity:0.95;}
	70%{ -moz-transform:scale(0.99,0.99); opacity:1;}
	85%{ -moz-transform:scale(1.01,1.01); opacity:1;}
	100%{ -moz-transform:scale(1,1); opacity:1;}
}
@-webkit-keyframes spgdHeader02{	
	0%{ -webkit-transform:scale(0.2,0.2); opacity:0;}
	25%{ -webkit-transform:scale(1.06,1.06); opacity:0.85;}
	40%{ -webkit-transform:scale(0.98,0.98); opacity:0.9;}
	55%{ -webkit-transform:scale(1.04,1.04); opacity:0.95;}
	70%{ -webkit-transform:scale(0.99,0.99); opacity:1;}
	85%{ -webkit-transform:scale(1.01,1.01); opacity:1;}
	100%{ -webkit-transform:scale(1,1); opacity:1;}
}
@keyframes spgdHeader02{	
	0%{ transform:scale(0.2,0.2); opacity:0;}
	25%{ transform:scale(1.06,1.06); opacity:0.85;}
	40%{ transform:scale(0.98,0.98); opacity:0.9;}
	55%{ transform:scale(1.04,1.04); opacity:0.95;}
	70%{ transform:scale(0.99,0.99); opacity:1;}
	85%{ transform:scale(1.01,1.01); opacity:1;}
	100%{ transform:scale(1,1); opacity:1;}
}
.spgdHeader03 { position:absolute; top:67%; left:0; width:100%; opacity:0;}
.spgdHeaderAni .spgdHeader03 { -moz-animation:spgdHeader03 0.4s ease-out 1.7s both; -webkit-animation:spgdHeader03 0.4s ease-out 1.7s both; animation:spgdHeader03 0.4s ease-out 1.7s both;}
@-moz-keyframes spgdHeader03{
	0%{ -moz-transform:translate(-30%,0); opacity:0;}
	100%{ -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes spgdHeader03{
	0%{ -webkit-transform:translate(-30%,0); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes spgdHeader03{
	0%{ transform:translate(-30%,0); opacity:0;}
	100%{ transform:translate(0,0); opacity:1;}
}

.spgdBannerD { position:absolute; top:0; right:2%; display:block; width:48px; height:48px; background:url(../images/spgdBannerD.png) no-repeat; background-size:100% 100%; text-align:center; color:#FFFFFF; font-size:1.5rem; font-weight:bold; padding-top:10px; opacity:0;}
.spgdHeaderAni .spgdBannerD { -moz-animation:spgdBannerD 0.4s linear both; -webkit-animation:spgdBannerD 0.4s linear both; animation:spgdBannerD 0.4s linear both;}
@-moz-keyframes spgdBannerD{
	0%{ -moz-transform:translate(0,-55px); opacity:0;}
	100%{ -moz-transform:translate(0,0); opacity:1;}
}
@-webkit-keyframes spgdBannerD{
	0%{ -webkit-transform:translate(0,-55px); opacity:0;}
	100%{ -webkit-transform:translate(0,0); opacity:1;}
}
@keyframes spgdBannerD{
	0%{ transform:translate(0,-55px); opacity:0;}
	100%{ transform:translate(0,0); opacity:1;}
}
.spgdBannerD_span { position:relative; top:-2px; display:inline-block; width:19px; height:11px; background:url(../images/spgdBannerD_span.png) no-repeat; background-size:80%;}
.spgdHeaderAni .spgdBannerD_span { -moz-animation:spgdBannerD_span 1.2s linear 1s infinite; -webkit-animation:spgdBannerD_span 1.2s linear 1s infinite; animation:spgdBannerD_span 1.2s linear 1s infinite;}
@-moz-keyframes spgdBannerD_span{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@-webkit-keyframes spgdBannerD_span{
	0%{ opacity:0;}
	100%{ opacity:1;}
}
@keyframes spgdBannerD_span{
	0%{ opacity:0;}
	100%{ opacity:1;}
}

body .spgdBtn { display:block; width:85%; margin:0 auto; height:5rem; line-height:4.6rem; text-align:center; font-size:2.2rem; font-weight:bold; color:#ffffff; background:-moz-linear-gradient(top,#ff8300,#ff6300 91%,#893513 91%); background:-webkit-linear-gradient(top,#ff8300,#ff6300 91%,#893513 91%); background:linear-gradient(top,#ff8300,#ff6300 91%,#893513 91%); border:0.3rem solid #152656;}
.spgdDate { color:#bfd0ff; font-size:1.6rem; margin-top:0.8rem;}

.spgdMain { padding:2rem 10px 0 10px;}
.spgdColumn { position:relative; margin:13% 0 0 0; box-shadow:0 0.45rem #1b327a;}
.spgdTitle { position:absolute; left:-1.66666667%; width:100%;}
.spgdTitle01 { top:-6%;}
.spgdTitle02 { top:-4.2%;}
.spgdStepQr { position:absolute; left:5.5%; top:21.50170648%; width:32%; height:21.84300341%;}
.spgdZq { background-color:#0b2759; border-radius:5px; padding:13% 0 8% 0; font-size:0;}
.spgdZqItem { display:inline-block; font-size:1.4rem; width:42.5%; margin:5% 0 0 5%;}
.spgdZqBottom { width:100%; height:3.5rem; line-height:3.5rem; text-align:center; font-size:1.5rem; color:#6d4100; background-color:#ffd800;}

.Box { position:fixed; left:0; top:0; z-index:999; width:100%; height:100%; background-color:rgba(0,0,0,0.6); overflow:hidden;}
.BoxBlack { width:100%; height:100%; box-sizing:border-box; padding:1rem;}

.funBox { display:none; -moz-transform:translate(0,-100%); -webkit-transform:translate(0,-100%); transform:translate(0,-100%);}
.funBoxAni { -moz-animation:funBoxAni 0.3s ease 0s both; -webkit-animation:funBoxAni 0.3s ease 0s both; animation:funBoxAni 0.3s ease 0s both;}
@-moz-keyframes funBoxAni{
	0%{ -moz-transform:translate(0,-100%);}
	100%{ -moz-transform:translate(0,0);}
}
@-webkit-keyframes funBoxAni{
	0%{ -webkit-transform:translate(0,-100%);}
	100%{ -webkit-transform:translate(0,0);}
}
@keyframes funBoxAni{
	0%{ transform:translate(0,-100%)}
	100%{ transform:translate(0,0);}
}

.funBoxAni_back { -moz-animation:funBoxAni_back 0.3s ease 0s both; -webkit-animation:funBoxAni_back 0.3s ease 0s both; animation:funBoxAni_back 0.3s ease 0s both;}
@-moz-keyframes funBoxAni_back{
	0%{ -moz-transform:translate(0,0);}
	100%{ -moz-transform:translate(0,-100%); height:0;}
}
@-webkit-keyframes funBoxAni_back{
	0%{ -webkit-transform:translate(0,0);}
	100%{ -webkit-transform:translate(0,-100%); height:0;}
}
@keyframes funBoxAni_back{
	0%{ transform:translate(0,0);}
	100%{ transform:translate(0,-100%); height:0;}
}
.funBoxWrap { width:100%; height:100%; background-color:#FFFFFF; position:relative; box-sizing:border-box; padding:0 0 6.3rem 0;}
.funBoxMain { width:100%; height:100%; color:#333333; font-size:1.4rem; background-color:#FFFFFF; border-radius:7px;  box-sizing:border-box; padding:1rem 1rem 1rem 2.8rem; overflow-y:auto; list-style:decimal;}
.funBoxMain li { margin-top:0.6rem;}
.funBoxGray { color:#666666;}
.funBoxUl li { color:#e21111; list-style:disc inside;}
.funBoxNote { color:#999999;}
body .funBtn { display:block; width:80%; height:4.2rem; line-height:4.2rem; margin:0.9rem auto 1.2rem auto; text-align:center; font-size:2.2rem; font-weight:bold; color:#FFFFFF; background-color:#f8490a; border-radius:25px; box-shadow:0 4px #b93100;}
body .funBtn:hover { color:#FFFFFF; background-color:#de3b00;}
.funBoxBtn { position:absolute; left:0; bottom:0; width:100%;}

.spgdBox { display:none;}
.spgdBoxBlack { background-color:rgba(0,0,0,0.8);}
.spgdBoxMain { margin-top:20%; position:relative;}
.spgdBoxText { position:absolute; bottom:23%; width:100%; height:8%; font-size:1.4rem; color:#fffdbb; text-align:center;}
.spgdBoxClose { position:absolute; right:5%; top:18%; display:block; width:26px; height:26px; background:url(../images/spgdBoxClose.png) no-repeat; background-size:100%;}
.spgdBoxBottom { position:absolute; width:100%; bottom:-2%; text-align:center;}
.spgdBoxBtn { display:inline-block; height:3.3rem; line-height:3.3rem; padding:0 7%; font-size:1.5rem; color:#ffffff; border:1px solid #ffffff; border-radius:5px;}
.spgdBoxBtn:hover { color:#000000; background-color:#ffffff;}


@media screen and (min-width:380px){
	.spgdBoxText { font-size:1.6rem;}
}